/* html {
  height: 100%;
}
body {
  min-height: 100%;
} */

a {
  padding-left: 2%;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #e8833a;
}

.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 80px;
}

.button-link {
  background: none;
  border: none;
  padding: 0 20px;
  outline: none;
}

.button-link:hover {
  color: #e8833a;
  transition: 0.3s ease-in-out;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.city-container {
  border: 1px solid black;
  display: flex;
  max-height: 250px;
}

.city-img {
  object-fit: cover;
}
.btn {
  background: #e8833a;
  color: white;
  font-weight: bold;
}
.btn:hover {
  background: #dc6510;
  color: white;
}

.btn-i {
  color: white;
  margin-left: 10px;
}

.open-drawer {
  position: absolute;
  z-index: 2;
}

.city-select-banner {
  width: 100%;
  height: 350px;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: center;
  object-position: top center;
}

.city-info h3 {
  color: #e8833a;
}

.city-info p {
  padding: none;
  margin: none;
  line-height: 13px;
}

.info-banner {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  object-fit: cover;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
}

.info-window-a {
  font-size: 1.3rem;
  margin-bottom: 10px;
  text-decoration: underline;
}

.city-list-item {
  line-height: 70px;
  font-size: 1.4rem;
  width: 70%;
  cursor: pointer;
  color: rgb(9, 9, 9);
}

.compare-list {
  text-align: center;
}

.city-select {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.city-info img {
  margin-bottom: 30px;
}

.compare {
  margin-top: 20px;
}

.city-name {
  text-align: center;
}

/* ANT DESIGN CAROUSEL OVERRIDE */
.ant-carousel .slick-dots li button {
  background: #513ae8;
  opacity: 0.4;
  height: 10px;
  margin-top: 30px;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: #513ae8;
}

.alert-warn {
  z-index: 3;
  position: absolute;
  right: 0;
  top: 8%;
  width: 500px;
}
